#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#logo{
  height: 10px;
  width: 40px;
}

#header{
  height: 10px;
  width: 100px;
}