<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logo">
      <img src="assets/logo.png" alt="logo">
    </div>
    <br>
    <div class="texto">
      <ion-title>
        SERVICIOS
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <video id="bg-video" autoplay muted loop playsinline>
    <source src="assets/video.mp4" type="video/mp4">
  </video>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small">DESDE 2001</ion-title>
  </ion-toolbar>
</ion-footer>